body {
  background-size: cover;
  background: #f8f8f8 url("wood.jpg") no-repeat fixed;
  color: #333333;
    margin-top: 5rem;
    width: 100%;
  }

html {
  width: 100%;
}
  
  h1, h2, h3, h4, h5, h6 {
    color: #2b2b2b;
    /* color: snow; */
  }

  #snowflake{
      color: snow;
  }
  
  ul {
    margin: 0;
  }

  #login {
    width: 20vw;
    position: relative;
  }

  #register{
    width: 37vw;
    position: fixed;

  }
  
  .bg-steel {
    background-color: #f8f8f8;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #000000;
  }
  
  .form-control:focus{border-color: #707070;  box-shadow: none; -webkit-box-shadow: none;} 

  /*  Making sure the image inside a carousel takes 100% of the width  */
  .carousel-item img{ margin: auto; }

  .carousel {
    background-color: #535353;
  }

  
  .site-header .navbar-nav .nav-link:hover {
    color: #535353;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

   .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: lightblue;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

/* Moddifying autocomplete z-index */
  .ui-autocomplete {
    z-index: 9999 !important;
  }

  .ui-autocomplete.ui-widget {
    font-size: 14px !important;
  }
  

  /* ---------------------------- FOOTER STYLE TEST ----------------------*/

footer {
  background-color: #2b2b2b;
  opacity: 70%;
  padding:45px 0 20px;
  font-size: 15px;
  line-height: 20px;
  color: snow;
  height: auto;
  width: 100%;

}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:1;
}

.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color: snow;
}
.site-footer a:hover
{
  color:lightgreen;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:snow;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color: lightgreen;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}


.test {
  display: inline-block;
}

  #sharebuttons {
    padding-left: 15%;
    display: inline-block;
  }

/* footer will disappear if the screen is smaller than an ipad screen to make it responsive*/
@media (max-width: 750px){
    #footer {
        display : none;
        visibility : hidden;
    }
}

a[href="?page="]{
  margin: auto;
  padding: auto;
}

 #sidebar {
   margin-top: 50%;
   margin-left: -250px;
   position: relative;

 }



#logout {
	margin: auto;
	text-align: center;
	height: 30vh;
	width: 30vw;
  margin-top: 5%;
	background-color: white;
    border-radius: 3px;
	font-size: 1.2em;
}

#logo {
	padding-top: 5%;
	padding-bottom: 1%;
	width:90%;
	height: auto;
}

#goodbye {
	width: 45%;
	height:auto;
	display:block;
	margin-left: 23%;
/*	margin-top, margin-bottom:auto;*/
}

#loginbutton {
	margin-top: 5%;
}
