#commentSection {
    background-color: white;
    width: 100%;
    font-family: Arial, sans-serif;
    padding: 10px;
    border-style: inset;
    border-width: 1px;
}

#postedComments {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#push {
    margin-bottom: 5%;
}

textarea {
    display: block;
    width: 100%;
    resize: none;
    outline: none;
    height: 100px;
}

.metaData {
    font-weight: bold;
}

.oldComments {
    background-color: snow;
    border-radius: 2px;
    margin-bottom: 1%;
    padding: 1%;
}