{% extends "blog/base.html" %}
{% block content %}
<div class="content-section mt-6">
    <h1>Provided API</h1>
    <h4>The information in our database can be accessed by sending a GET request to the following links:</h4>
    <h6 class="mt-4">For a listing of all the posts:  {% url 'api-posts' %}</h6>

    <p>
        <u>Example output:</u> <br>
        [<br>
        &ensp;{<br>
        &emsp;"author": "Tom",<br>
        &emsp;"title": "VUB Resto: The place to be",<br>
        &emsp;"content": "It is truly the best restaurant in Brussels. For a good, varied menu, this is a perfect choice.",<br>
        &emsp;"date_posted": "2019-12-19T04:45:30.807538+01:00",<br>
        &emsp;"rating": 5,<br>
        &emsp;"cost": 3 <br>
        &ensp;},<br>
    &ensp;{<br>
        &ensp;"author": "Tom",<br>
        &ensp;"title": "Quick...Worst exeperience of my life",<br>
        &ensp;"content": "The service was absolutely disappointing.",<br>
        &ensp;"date_posted": "2019-12-19T04:55:19.572438+01:00",<br>
        &ensp;"rating": 1,<br>
        &ensp;"cost": 4<br>
        &ensp;}<br>
    ]<br>
    </p>

    <h6>For a listing of all the eating places:  {% url 'api-ep' %}</h6>

        <p>
            <u>Example output:</u> <br>
            [<br>
            &ensp;{<br>
                &ensp;"name": "VUB Resto",<br>
                &ensp;"address": "Pleinlaan 2, 1050 Elsene"<br>
            &ensp;},<br>
            &ensp;{<br>
                &ensp;"name": "Quick",<br>
                &ensp;"address": "Keizer Karellaan 560, 1082 Sint-Agatha-Berchem"<br>
            &ensp;},<br>
            &ensp;{<br>
                &ensp;"name": "Sea Grills",<br>
                &ensp;"address": "Wolvengracht 47, 1000 Brussels"<br>
            &ensp;},<br>
        &ensp;{<br>
            &ensp;"name": "McDonald",<br>
            &ensp;"address": "Nieuwstraat 124, Brussels"<br>
            &ensp;} <br>
    ] <br>
    
        </p>
    
</div>
    
    
{% endblock content %}