<!DOCTYPE html>
<html lang="en">

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<script>
    const APIKEY = "5a0fbb4c82c94fde8b38e9ae2cd04bb9";

    function getsource(id) {
        $.ajax({
            url: "https://api.spoonacular.com/recipes/" + id + "/information?apiKey=" + APIKEY,
            success: function(res) {


                document.getElementById("sourceLink").href = res.sourceUrl;
            }
        });
    }

    function getRecipe(q) {
        $.ajax({
            url: "https://api.spoonacular.com/recipes/search?apiKey=" + APIKEY + "&number=1&query=" + q,
            success: function(res) {

                document.getElementById("title").innerHTML = "<p>" + res.results[0].title + "</p>";
                document.getElementById("mealImage").innerHTML = "<img src='"+res.baseUri+res.results[0].image+"' width='250vw' height='200vh'/>";
                document.getElementById("cookingTime").innerHTML= "<p> Cooking time: " + res.results[0].readyInMinutes + " minutes </p>";
                getsource(res.results[0].id);
            }
        });
    }
</script>

<body>

<style type="text/css">
    #ctr{
        text-align: center;
        position: center;
    }
</style>


                <div id="sidebar" style="" class="col-md-3">
                  <div class="content-section">
                    <h3>Need help for you next meal?</h3>
                    <p class='text-muted'>recipe of the day
                      <ul class="list-group">
                        <li class="list-group-item list-group-item-light" id="ctr">
                            <input id="search">
                            <button onclick="getRecipe(document.getElementById('search').value)">Search</button>
                        </li>
                        <li style="height: 10vh" class="list-group-item list-group-item-light" id="ctr">
                            <div id="title"></div>
                        </li>
                        <li style="height: 35vh" class="list-group-item list-group-item-light" id="ctr">
                            <a id="mealImage"></a>
                        </li>
                      <li style="height: 10vh;" class="list-group-item list-group-item-light" id="ctr">
                          <a id="cookingTime"></a>
                        </li>
                        <li class="list-group-item list-group-item-light" id="ctr">
                             <a style="color: #2b2b2b" href="" id="sourceLink"> Check out the Recipe! </a>
                        </li>
                      </ul>
                    </p>
                  </div>
                </div>

</body>

</html>