<footer id="footerpush">
    <div class="row">
  <div class="col-sm-4">
      <p style="text-align: center" class="copyright-text">Copyright &copy; 2019 All Rights Reserved by <a id="snowflake" href="{% url 'blog-home' %}">StudentEats</a>. </p>
  </div>
  <div class="col-sm-4">
      <ul class="footer-links">
              <li><a class="mr-2" href="{% url 'blog-home' %}">Home</a></li>
              <li><a class="mr-2" href="{% url 'blog-map' %}">Map</a></li>
              <li><a class="mr-2" href="{% url 'api-page' %}">API</a></li>
            </ul>
  </div>
  <div class="col-sm-4">
      <div style="margin-right: 20vw" id="sharebuttons" class="sharethis-inline-share-buttons"></div>
  </div>
</div>
    </footer>