{% extends "blog/base.html" %}
{% block content %}
    <!-- When there are no posts to show in the feed, the user gets asked to follow users, and some links are provided -->
    {% if posts.count == 0 %}
    <div class="content-section">
        <h3><u>Follow users to see posts in your feed:</u></h3>
        <h4><a href="{% url 'discover' %}" class="text-info">Discover</a></h4>
        <h4><a href="{% url 'blog-map' %}" class="text-info">Map</a></h4>
    </div>
    {% endif %}

    {% include "blog/blocks/list-posts.html" %}
    {% include 'blog/blocks/paginated.html'  %}
{% endblock content %}