<footer id="footer">
   <!-- <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6 id="snowflake">About</h6>
            <p>StudentEats.com is an initiative to help students find good and affordable places to eat.
              StudentEats provides a platform where students can share their eating experience online.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6 id="snowflake">Categories</h6>
            <ul class="footer-links">
              <li><a href="#">Vegan</a></li>
              <li><a href="#">Asian</a></li>
              <li><a href="#">Italian</a></li>
              <li><a href="#">Greek</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6 id="snowflake">Quick Links</h6>
            <ul class="footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div> -->

    <div class="row">
  <div class="col-sm-4">
      <p style="text-align: center" class="copyright-text">Copyright &copy; 2019 All Rights Reserved by <a id="snowflake" href="{% url 'blog-home' %}">StudentEats</a>. </p>
  </div>
  <div class="col-sm-4">
      <ul class="footer-links">
              <li><a class="mr-2" href="{% url 'blog-home' %}">Home</a></li>
              <li><a class="mr-2" href="{% url 'blog-map' %}">Map</a></li>
              <li><a class="mr-2" href="{% url 'api-page' %}">API</a></li>
            </ul>
  </div>
  <div class="col-sm-4">
      <div style="margin-right: 20vw" id="sharebuttons" class="sharethis-inline-share-buttons"></div>
  </div>
</div>
      <!-- <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by <a id="snowflake" href="{% url 'blog-home' %}">StudentEats</a>. </p>
          </div>
          <div id="sharebuttons" class="sharethis-inline-share-buttons"></div>
        </div>
      </div> -->
    </footer>