{% extends "blog/base.html" %}

{% block content %}
    <div class="content-section">
      <div class="media">
        <!-- Can add a profile picture for the restaurant here: -->
        <!-- <img class="rounded-circle account-img" src="{{ selected_user.profile.image.url }}"> -->
        <div class="media-body">
          <h2 class="account-heading">{{ selected_place.name }}</h2>
          <p>Amount of posts: {{ selected_place.posts.count }}</p>
          <p>Rating average: {{ average_rating }}</p>
          <p>Cost average: {{ average_cost }}</p>
        </div>
      </div>
    </div>

    {% include 'blog/blocks/list-posts.html'  %}
    {% include 'blog/blocks/paginated.html'  %}
{% endblock content %}