{% extends "blog/base.html" %}

{% block content %}
    <article class="media content-section">
        <a class="mr-2" href="{% url 'profile' post.author.username %}">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="author's image">
        </a>
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="{% url 'profile' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted |date:"F d, Y"}}</small>
            <div class="sharethis-inline-share-buttons"></div>
            {% if post.author == user %}
               <div>
                <a class="btn btn-secondary btn-sm mb-1" href="{% url 'post-update' post.id %}">Update</a>
                <a class="btn btn-danger btn-sm mb-1" href="{% url 'post-delete' post.id %}">Delete</a>
               </div>
            {% endif %}
            <!-- Post like button: -->
            <a class="like-btn btn btn-success btn-sm mb-1" data-href="{% url 'api-post-like' post.id %}" href="{% url 'post-like' post.id %}">
              {% if user in post.likes.all %}
              {{ post.likes.count }} Unlike
              {% else %}
              {{ post.likes.count }} Like
              {% endif %}
            </a>
            </div>
            <h2 class="article-title">{{ post.title }}</h2>
            <!-- Eating place link -->
            <p>
              Eating place: <a href="{% url 'place-profile' post.place %}">{{ post.place.name }}</a>
            </p>
            <!-- CAROUSEL -->
          {% include "blog/blocks/carousel.html" %}
            <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
{% endblock content %}