{% extends "blog/base.html" %}
{% load static %}

{% block extra_css %}
<style>
#commentSection {
    background-color: white;
    width: 100%;
    font-family: Arial, sans-serif;
    /*padding-bottom: 10%;*/
     /* height: 50%;*/
    border-radius: 5px;
   /* background-color: transparent;*/
}
#postedComments {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#userComment {
}
#push {
    margin-bottom: 5%;
}
textarea {
    display: block;
    width: 100%;
    resize: none;
    outline: none;
    height: 100px;
}
.authorName {
    font-weight: bold;
}
.oldComment {
    background-color: snow;
    border-radius: 2px;
    margin-bottom: 1%;
    padding: 1%;
}
</style>
{% endblock extra_css %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'blog/rating-icons.css' %}">

<article class="media content-section">
  <a class="mr-2" href="{% url 'profile' post.author.username %}">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="author's image">
  </a>
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'profile' post.author.username %}">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted |date:"F d, Y"}}</small>

      <div style="margin-left: 2%; display: inline-block;">
        {% if post.author == user %}
        <a class="btn btn-secondary btn-sm mb-1" href="{% url 'post-update' post.id %}">Update</a>
        <a class="btn btn-danger btn-sm mb-1" href="{% url 'post-delete' post.id %}">Delete</a>
        {% endif %}
      </div>

      <div style="display: inline-block; float: right;" id="sharebuttons" class="sharethis-inline-share-buttons"></div>


      <p>Rating: <span class="fa fa-star fa-lg star"></span> <span class="fa fa-star fa-lg star"></span> <span class="fa fa-star fa-lg star"></span> <span class="fa fa-star fa-lg star"></span> <span class="fa fa-star fa-lg star"></span><br>
        Cost: <span class="fa fa-eur fa-lg euro"></span> <span class="fa fa-eur fa-lg euro"></span> <span class="fa fa-eur fa-lg euro"></span> <span class="fa fa-eur fa-lg euro"></span> <span class="fa fa-eur fa-lg euro"></span></p>
      <h2 class="article-title">{{ post.title }}</h2>
      <!-- Eating place link -->
      <p>
        Eating place: <a href="{% url 'place-profile' post.place %}">{{ post.place.name }}</a>
      </p>
      <!-- CAROUSEL -->
      {% include 'blog/blocks/carousel.html' %}
      <p class="article-content mt-3">{{ post.content }}</p>

      <!-- Post like button: -->
      <a class="like-btn btn btn-success btn-sm mb-1" data-id = "{{ post.id }}" href="{% url 'post-like' post.id %}">
        {% if user in post.likes.all %}
        {{ post.likes.count }} Unlike
        {% else %}
        {{ post.likes.count }} Like
        {% endif %}
      </a>
    </div>
  <div id="commentSection" class="mt-3">
  <div id="postedComments">
    <p id="intro">Be the first to react</p>
  </div>
  <div id="textSection">
      <textarea name="userComment" id="userComment" maxlength="200" placeholder="Leave a comment" class="mt-2"></textarea>
    <button id="trigger" class="btn btn-primary mt-2">Comment!</button>
  </div>
</div>
<div id="push"></div>
  </div>

</article> 

  {% endblock content %}
  
{% block extra_jss %}

<script>
  var stars = document.getElementsByClassName("fa-star");
  var euros = document.getElementsByClassName("fa-eur");
  function lightUp(rating, lst, className) {
    for (i = 0; i < rating; ++i) {
      lst[i].classList.add(className);
    }
  }
  lightUp({{ post.rating }}, stars, "checked");
  lightUp({{ post.cost }}, euros, "checked2");
  var submitButton = document.getElementById("trigger");
  var userComment = document.getElementById("userComment");
  var postedComments = document.getElementById("postedComments");
  var firstComment = true;
  function createComment(commentOfUser, userName, comment_id, mayDelete, datum, userURL) {
      if(firstComment){
          let intro = document.getElementById("intro");
          intro.parentNode.removeChild(intro);
          firstComment = false;
      }
      let newComment = document.createElement("div");
      newComment.classList.add("oldComment");
      let username = document.createElement("p");
      username.classList.add("authorName");
      /*let date = document.createElement("small");
      date.innerText = datum;
      date.classList.add("text-muted");*/
      let paraph = document.createElement("p");/*.innerText*/ //= commentOfUser;
      username.innerHTML = '<a href="' + userURL + '">' + userName  + '</a>' + " - " + "<small>" + datum  + "</small>";
      //username.appendChild(date);
      paraph.innerText = commentOfUser;
      newComment.appendChild(username);
     // newComment.appendChild(date);
      newComment.appendChild(paraph);
      postedComments.prepend(newComment);
      if(mayDelete){
      let buttonDelete = document.createElement("button");
      buttonDelete.innerHTML = "Delete";
      buttonDelete.classList.add("btn");
      buttonDelete.classList.add("btn-sm");
      buttonDelete.classList.add("btn-danger");
      buttonDelete.onclick = function() {
          $.ajax({
            url: '{% url "comment" %}',
            method: "DELETE",
            data: {
              'comment_id': comment_id
            },
            success: function() {
                newComment.parentNode.removeChild(newComment);
            }
        });
      };
      newComment.appendChild(buttonDelete);
      }
  }


  {% for z in post.comments.all %}
      //z.author.profile.image
      //console.log("  {{ z.author.username}}");
      {% if z.author == user %}
       createComment("{{ z.content }}", "{{ z.author.username}}", {{ z.id}}, true, "{{ z.date_posted }}", "{% url 'profile' z.author %}");
      {%  else %}
         createComment("{{ z.content }}", "{{ z.author.username}}", {{ z.id}}, false, "{{ z.date_posted }}", "{% url 'profile' z.author %}");
      {% endif %}
  {% endfor %}


  submitButton.onclick = function() {
      if(userComment.value !== ""){
      let comment = userComment.value;
      $.ajax({
          url: '{% url "comment" %}',
          method: "POST",
          data: {
              'content': comment,
              'author': '{{ user.username }}',
              'post_id': '{{ post.id }}'
          },
          success : function(data) {
              createComment(comment, "{{ user.username }}", data.comment_id, true, "now");
          }
       });
      userComment.value = "";
      }
  }
</script>         
{% endblock %}

  

