{% extends "blog/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/post_detail.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="{% static 'blog/rating-icons.css' %}" />
{% endblock extra_css %}

{% block content %}
<article class="media content-section">
    <div class="media-body">
        <!-- Post Header -->
        <div class="article-metadata">
            <div style="display: inline-block;">
                <a class="mr-2" href="{% url 'profile' post.author.username %}">
                    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="author's image">
                </a>
            </div>
            <div style="display: inline-block; vertical-align: middle;">
                <div>
                    <a class="mr-2" href="{% url 'profile' post.author.username %}">{{ post.author }}</a> {% if post.author == user %}
                    <a class="btn btn-secondary btn-sm mb-1" href="{% url 'post-update' post.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mb-1" href="{% url 'post-delete' post.id %}">Delete</a> {% endif %}
                </div>
                <div>
                    <small class="text-muted">{{ post.date_posted |date:"F d, Y"}}</small>
                </div>

                <div>
                    Review for:
                    <a href="{% url 'place-profile' post.place.name %}">{{ post.place.name }}</a>
                </div>

            </div>
            <!-- Share buttons -->

        </div>

        <!-- Post Body -->
        <div>
            <h2>
              <a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
          </h2>

            <p>Rating: <span class="fa fa-star fa-lg star-{{ forloop.counter }}"></span> <span class="fa fa-star fa-lg star-{{ forloop.counter }}"></span> <span class="fa fa-star fa-lg star-{{ forloop.counter }}"></span> <span class="fa fa-star fa-lg star-{{ forloop.counter }}"></span> <span class="fa fa-star fa-lg star-{{ forloop.counter }}"></span>
                <br> Cost: <span class="fa fa-eur fa-lg euro-{{ forloop.counter }}"></span> <span class="fa fa-eur fa-lg euro-{{ forloop.counter }}"></span> <span class="fa fa-eur fa-lg euro-{{ forloop.counter }}"></span> <span class="fa fa-eur fa-lg euro-{{ forloop.counter }}"></span> <span class="fa fa-eur fa-lg euro-{{ forloop.counter }}"></span></p>

            <!-- CAROUSEL -->
            <div>
                {% include 'blog/blocks/carousel.html' %}
            </div>
            <p class="article-content mt-3">{{ post.content }}</p>

            <!-- Post like button: -->
            <div>
                <a class="like-btn btn btn-success btn-sm mb-1 mt-2" data-id="{{ post.id }}" href="{% url 'post-like' post.id %}">
                {% if user in post.likes.all %}
                {{ post.likes.count }} Unlike
                {% else %}
                {{ post.likes.count }} Like
                {% endif %}
                </a>
                <div style="float: right;" id="sharebuttons" class="sharethis-inline-share-buttons"></div>
            </div>
        </div>

        <section id="commentSection" class="mt-3">
            <div id="postedComments">
                <p id="intro">Be the first to react</p>
            </div>
            <div id="textSection">
                <textarea name="userComment" id="userComment" maxlength="200" placeholder="Leave a comment" class="mt-2"></textarea>
                <button id="trigger" class="btn btn-primary mt-2">Comment!</button>
            </div>
        </section>
        <div id="push"></div>
    </div>
</article>
{% endblock content %}

{% block extra_jss %}
<script src="{% static 'blog/post_detail.js'%}"></script>
<script src="{% static 'blog/get-ratings.js' %}"></script>
<script src="{% static 'blog/lightup-rating.js' %}"></script>
<script>
    lightUp({{ post.rating }}, stars, "checked");
    lightUp({{ post.cost }}, euros, "checked2");

    linkToSubmitButton("{% url 'comment' %}", "{{ user.username }}", "{{ post.id }}", '{% url "profile" user.username %}');

    {% for comment in post.comments.all %}
    {% if comment.author == user %}
    createComment("{{ comment.content }}", "{{ comment.author.username}}", {{ comment.id }}, true, "{{ comment.date_posted }}", "{% url 'profile' comment.author %}", "{% url 'comment' %}");
    {% else %}
    createComment("{{ comment.content }}", "{{ comment.author.username}}", {{ comment.id }}, false, "{{ comment.date_posted }}", "{% url 'profile' comment.author %}", "{% url 'comment' %}");
    {% endif %}
    {% endfor %}
</script>
{% endblock extra_jss %}