{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'blog/rating-icons.css' %}">
{% endblock extra_css %}

{% block content %}
  <div class="content-section">
      <form method="POST" , enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Review</legend>
               <!-- CAROUSEL -->
             {% include "blog/blocks/carousel.html" %}
              {{ form |crispy }}
              <input id="rating" name="rating" type="hidden" value="{{ post.rating }}">
              <p>Rating: <span class="fa fa-star fa-lg"></span> <span class="fa fa-star fa-lg"></span> <span class="fa fa-star fa-lg"></span> <span class="fa fa-star fa-lg"></span> <span class="fa fa-star fa-lg"></span></p>
              <input id="cost" name="cost" type="hidden" value="{{ post.cost }}">
              <p>Cost: <span class="fa fa-eur fa-lg"></span> <span class="fa fa-eur fa-lg"></span> <span class="fa fa-eur fa-lg"></span> <span class="fa fa-eur fa-lg"></span> <span class="fa fa-eur fa-lg"></span></p>
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-secondary" type="submit">Update</button>
          </div>
      </form>
  </div>
{% endblock content %}

{% block extra_jss %}
<script src="{% static 'blog/get-ratings.js'%}"></script>
<script src="{% static 'blog/rating-icons.js' %}"></script>
<script src="{% static 'blog/lightup-rating.js' %}"></script>
<script>
    lightUp({{ post.rating }}, stars, "clicked");
    lightUp({{ post.cost }}, euros, "clicked2");
</script>
{% endblock extra_jss %}