{% extends "blog/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'blog/rating-icons.css' %}">
{% endblock extra_css %}

{% block content %}
  <div class="content-section">
      <form method="POST", enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Review</legend>

            <!-- Post creation form styled with crispy-forms -->
            {{ p_form|crispy }}
            
            <!-- Depending on whether or not a place is given, these input fields are visible or not visible -->
            <!-- If the page is accessed from an eating place profile 'write a review', these fields are already filled in -->
            {% if place %}
                <input id="place-name" type="hidden" name="place-name" value="{{ place.name }}" required>
                <input id="place-address" type="hidden" name="place-address" value="{{ place.address }}" required>
            {% else %}
                <h3>Eating place:</h3>

                <label for="place-name">Place Name: </label>
                <input id="place-name" type="text" name="place-name" autocomplete="off" required>

                <!-- Input for place address -->
                <label for="place-address">Place Address: </label>
                <input id="place-address" type="text" name="place-address" required>
            {% endif %}

            <!-- Reference: https://www.w3schools.com/howto/howto_css_star_rating.asp -->
            <p>Rating: </p>
            <div>
                <!-- Hidden input for rating -->
                <input id="rating" name="rating" type="hidden" value="0">
                <!-- The stars -->
                <span class="fa fa-star fa-lg"></span> <span class="fa fa-star fa-lg"></span> <span class="fa fa-star fa-lg"></span> <span class="fa fa-star fa-lg"></span> <span class="fa fa-star fa-lg"></span>
            </div>
            <div>
                <!-- Hidden input for cost -->
                <input id="cost" name="cost" type="hidden" value="0">
                <!-- The euro signs -->
                <span class="fa fa-eur fa-lg"></span> <span class="fa fa-eur fa-lg"></span> <span class="fa fa-eur fa-lg"></span> <span class="fa fa-eur fa-lg"></span> <span class="fa fa-eur fa-lg"></span>
            </div>

            <!-- Post images formset-->
            {{ pi_formset }}
              
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-secondary" type="submit">Post</button>
          </div>
      </form>
  </div>
{% endblock content %}

{% block extra_jss %}
<script src="{% static 'blog/get-ratings.js'%}"></script>
<script src="{% static 'blog/rating-icons.js' %}"></script>

<script>
// Autocomplete place-name field in the form:
// The place-names get fetched from the back end, and provided as suggestions
jQuery(function() {
    $("#place-name").on('keyup', function(){
        var value = $(this).val();
        $.ajax({
            url: "{% url 'api-eatingplace-autocomplete' %}",
            data: {
            'query': value
            },
            dataType: 'json',
            success: function (data) {
                list = data.results;
                $("#place-name").autocomplete({
                    source: list,
                    minLength: 1,
                    // On selecting a suggestion, the place-address field gets auto-filled
                    select: function(event, ui) {
                        var place_name = ui.item.value;
                        $.get(
                            '{% url 'api-get-eatingplace' %}',
                            {'query': place_name},
                            function(data) {
                                var place_address = data[0].address;
                                $("#place-address").val(place_address);
                            },
                            'json'
                        )
                    }
                });
            }
        });
    });
});
</script>
{% endblock extra_jss %}


