<!-- Recipe Idea using the Food Api where users can query any type of food and get a recipe         -->
                  <div class="content-section">
                    <h6 id="ctr"> Need help for you next meal?</h6>
                    <p class='text-muted' id="ctr"> Look up for a recipe!
                      <ul class="list-group">
                        <li class="list-group-item list-group-item-light" id="ctr">
                            <input type="text" id="searchRecipe" value="">
                            <button id="searchApiButton" class="btn btn-sm btn-primary mb-1 mt-1">Search</button>
                        </li>
                        <li class="list-group-item list-group-item-light recipeTitle" id="ctr">
                            <div id="title"></div>
                        </li>
                        <li class="list-group-item list-group-item-light recipeImage" id="ctr">
                            <a class="recipeImage" id="mealImage"></a>
                        </li>
                      <li class="list-group-item list-group-item-light recipeTime" id="ctr">
                          <a id="cookingTime"></a>
                        </li>
                        <li class="list-group-item list-group-item-light" id="ctr">
                             <a href="" id="sourceLink"> Check out the Recipe! </a>
                        </li>
                      </ul>
                    </p>
                  </div>


{% block extra_jss %}

<script>
    const APIKEY = "5a0fbb4c82c94fde8b38e9ae2cd04bb9";
    let searchButtonApi = document.getElementById("searchApiButton");
    let recipeToSearch = document.getElementById("searchRecipe");

    searchButtonApi.onclick = function() { //search button in the recipe idea interface
        let recipe = recipeToSearch.value;
        getRecipe(recipe);
    };
    
    function getsource(id) {  //this function is used to retrieve the url of the recipe where you can find additional information around that recipe
        $.ajax({
            url: "https://api.spoonacular.com/recipes/" + id + "/information?apiKey=" + APIKEY,
            success: function(res) {


                document.getElementById("sourceLink").href = res.sourceUrl;
            }
        });
    }

    function getRecipe(q) { // this function is used to get the different elements that are displayed in the recipe idea interface ; title, image, cooking time and the recipe id that will be used in the function above (getSource)
        $.ajax({
            url: "https://api.spoonacular.com/recipes/search?apiKey=" + APIKEY + "&number=1&query=" + q,
            success: function(res) {

                document.getElementById("title").innerHTML = "<p>" + res.results[0].title + "</p>";
                document.getElementById("mealImage").innerHTML = "<img src='" + res.baseUri+res.results[0].image + "' width='250vw' height='200vh'/>";
                document.getElementById("cookingTime").innerHTML= "<p> Cooking time: " + res.results[0].readyInMinutes + " minutes </p>";
                getsource(res.results[0].id);
            }
        });
    }
</script>
{% endblock extra_jss %}








