<!--  Block that displays all the posts -->

{% for post in posts %}
    <article class="media content-section">
        <a class="mr-2" href="{% url 'profile' post.author.username %}">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="author's image">
        </a>
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'profile' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted |date:"F d, Y"}}</small>
            </div>
            <h2>
                <a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
            </h2>

            <!-- Post like button: -->
            <a class="like-btn btn btn-success btn-sm mb-1" data-href="{% url 'api-post-like' post.id %}" href="{% url 'post-like' post.id %}">
                {% if user in post.likes.all %}
                    {{ post.likes.count }} Unlike
                {% else %}
                    {{ post.likes.count }} Like
                {% endif %}
            </a>
             <!-- CAROUSEL -->
            {% include "blog/blocks/carousel.html" %}

            <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
{% endfor %}