{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <p style="font-family: Verdana, Geneva, sans-serif; position: center; color: white; padding-left: 80%; font-size: large;"> StudentEats, the place to be !</p>
  <div  id="login" class="content-section">
      <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Log In</legend>
              {{ form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-secondary" type="submit">Login</button>
              <small class="text-muted ml-2" >
                <a href="{% url 'password_reset' %}">Forgot Password?</a>
              </small>
          </div>
      </form>
      <div class="border-top pt-3">
        <small class="text-muted"> 
            Need an account? <a href="{% url 'register' %}" class="ml-2">Sign up Now</a>
        </small>
      </div>
  </div>


{% endblock content %}
