{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <div id="logout">
			<img src="{% static 'blog/logo2.png'%}" alt="studentEats logo" id="logo"/>
			<p>You have been logged out!</p>
			<button onclick="window.location.href= '{% url 'login' %}' " type="button" class="btn btn-primary" id="loginbutton">Log in</button>
		</div>
  <!--  <div class="border-top pt-3">
        <small class="text-muted">
             <a class="text-white" href="{% url 'login' %}">Log In Again</a>
        </small>
    </div>
    -->
{% endblock content %}

