{% extends "blog/base.html" %}
{% load static %}
{% load leaflet_tags %}

{% block extra_css %}
    {% leaflet_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'mapservice/mapcss.css' %}"/>
{% endblock extra_css %}

{% block content %}

    <center>
        <div id="map">
            {% leaflet_map "map_studenteats" callback="window.setupMap" %}
        </div>
    </center>

    {% block extra_jss %}
        {% leaflet_js %}
        <!-- Marker Icons from https://github.com/pointhi/leaflet-color-markers-->
        <script>
            function setupMap(map) {
                let redMarkerUrl = 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png';
                let greenMarkerUrl = 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png';

                function putOnMap(descr, latAndLong, markerUrl) {
                    let iconMarker = new L.Icon({
                        iconUrl: markerUrl,
                        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                        iconSize: [25, 41],
                        iconAnchor: [12, 41],
                        popupAnchor: [1, -34],
                        shadowSize: [41, 41]
                        });
                    let marker = L.marker(latAndLong, {icon: iconMarker}).addTo(map);
                    marker.bindPopup(descr);
                }

                function showUserLocation(e){
                    putOnMap("Your current position (approximation)", e.latlng, greenMarkerUrl);
                }

                map.locate({setView: true});
                map.on('locationfound', showUserLocation);
                map.on('locationerror', (e) => {alert("Enable geolaction to see the eating places near your location :)")});

	            {% for resto in restaurants %}
                    putOnMap("{{resto.name}}" + " - " + "{{resto.address}}", [{{resto.latitude}}, {{resto.longitude}}], redMarkerUrl);
	            {% endfor %}
            }
        </script>
    {% endblock extra_jss %}
{% endblock content %}
