{% extends "blog/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="{% static 'mapservice/map.css' %}"/>
{% endblock extra_css %}

{% block content %}
    <div id="mapContainer">
        <div id="screenCover">
	        <div id="restoInfo">
                <span id="close">&times;</span>
                <div id="infoWrapper">
		            <p id="nameResto"></p>
		            <p id="addressResto"></p>
                    <p><a id="linkProfile" href="#">Visit profile</a></p></div>
	            </div>
        </div>
        <div id="notification">
            <p id="notif-text">
                <i class='fas fa-exclamation-triangle'></i>
                Enable geolocation to see the eating places near you
                <i class='fas fa-exclamation-triangle'></i>
            </p>
        </div>
        <div id="map">
        </div>
    </div>
{% endblock content %}

{% block extra_jss %}
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script src="{% static 'mapservice/map.js' %}"></script>
    <script>
        {% for resto in restaurants %}
            putOnMap("{{resto.name}}", "{{resto.address}}", [{{resto.latitude}}, {{resto.longitude}}], redMarkerUrl);
        {% endfor %}
    </script>
{% endblock extra_jss %}

